/ranzcr-clip-catheter-line-classification.zip
/train
/test
/train.csv
/train_annotations.csv
/train_folds.csv
/sample_submission.csv
/train_128
/train_192
/train_256
/train_384
/train_512
/train_768
/train_1024
/test_128
/test_192
/test_256
/test_384
/test_512
/test_768
/test_1024
