/arch=resnet34_sz=128_fold=0.ckpt
/arch=resnet18_sz=256_fold=0.ckpt
/arch=resnet18_sz=256_fold=1.ckpt
/arch=resnet18_sz=256_fold=2.ckpt
/arch=resnet18_sz=256_fold=3.ckpt
/arch=resnet18_sz=256_fold=4.ckpt
/arch=resnet18_sz=512_fold=0.ckpt
/arch=resnet18_sz=512_fold=1.ckpt
/arch=resnet18_sz=512_fold=2.ckpt
/arch=resnet18_sz=512_fold=3.ckpt
/arch=resnet18_sz=512_fold=4.ckpt
/arch=resnet34_sz=128_fold=1.ckpt
/arch=resnet34_sz=128_fold=2.ckpt
/arch=resnet34_sz=128_fold=3.ckpt
/arch=resnet34_sz=128_fold=4.ckpt
/arch=tf_efficientnet_b4_ns_sz=256_fold=0.ckpt
/arch=tf_efficientnet_b4_ns_sz=256_fold=1.ckpt
/arch=tf_efficientnet_b4_ns_sz=256_fold=2.ckpt
/arch=tf_efficientnet_b4_ns_sz=256_fold=3.ckpt
/arch=tf_efficientnet_b4_ns_sz=256_fold=4.ckpt
/arch=tf_efficientnet_b4_ns_sz=512_fold=0.ckpt
/arch=tf_efficientnet_b4_ns_sz=512_fold=1.ckpt
/arch=tf_efficientnet_b4_ns_sz=512_fold=2.ckpt
/arch=tf_efficientnet_b4_ns_sz=512_fold=3.ckpt
/arch=tf_efficientnet_b4_ns_sz=512_fold=4.ckpt
/arch=resnest14d_sz=128_fold=0.ckpt
/arch=resnest14d_sz=128_fold=1.ckpt
/arch=resnest14d_sz=128_fold=2.ckpt
/arch=resnest14d_sz=128_fold=3.ckpt
/arch=resnest14d_sz=128_fold=4.ckpt
/arch=resnest200e_sz=512_fold=0.ckpt
/arch=resnest200e_sz=512_fold=1.ckpt
/arch=resnest200e_sz=512_fold=2.ckpt
/arch=resnest200e_sz=512_fold=3.ckpt
/arch=resnest200e_sz=512_fold=4.ckpt
